body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #1e3a8a, #0f172a); 
    color: #c5d8f0; 
}

/* intro Section */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: relative;
}

/* The title */
.intro-text h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #93c5fd; 
}

/* Highlighted Words part */
.intro-text .highlight {
    font-weight: bold;
    font-size: 3.7rem;
    color: #60a5fa; 
}

.intro-text p {
    font-size: 1.2rem;
    max-width: 600px;
    color: #c5d8f0; 
    text-align: center;
    transform: translateX(55px);
}



/* projects */
.projects {
    padding: 60px 20px;
    text-align: center;
}

/* Title for project*/
.projects h2 {
    font-size: 2.5rem;
    color: #93c5fd; 
    margin-bottom: 40px;
}

/* Container for Project Cards */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    /* for small screens */
}

/* Individual Project Card */
.project-card {
    background-color: #0f172a; 
    border-radius: 20px;      
    width: 300px;            
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* sublte shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    position: relative;
}

/* title */
.project-info {
    margin-bottom: 20px;
}


.project-title {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
    color: #ffffff; 
}

/* For responsive design */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 80%;
        margin-bottom: 20px;
    }
    .intro-text h1 {
        font-size: 2.5rem;
    }
    .intro-text .highlight {
        font-size: 2.7rem;
    }
    .intro-text p {
        font-size: 1rem;
    }
}
